:root {
	--font-family: "Plus Jakarta Sans";
	--second-family: "Barlow";

	--color-white: #fff;
	--color-slate-900: #133041;
	--color-lime: rgba(216, 219, 47, 1);
	--color-lime2: rgba(216, 219, 47, 0.5);
	--color-slate-700: #4e6e7e;
	--color-slate-500: #6b94a8;
	--color-slate-300: #9abed5;
	--color-slate-100: #e4f4fd;
	--color-red: #d73328;
}